.clear-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:34px;
    width: 100%;
    font-weight: lighter;
    font-size:17px;
    cursor: pointer;
    background-color:  #3f3f3f;
    color:rgb(190, 190, 190);
    outline: 1px solid  #888888;
}